h1 {
  color: coral;
}

h2 {
  color: coral;
}

h3 {
  color: green;
}

h4 {
  color: green;
}

h5 {
  color: amber;
}


body {
  color: darkolive;
}



/* link */
a:link {
  color: indigo;

}

/* visited link */
a:visited {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: orange;
} 
